.wrapper-header {
  width: 100%;
  background: red;
  height: 100px;
  background: #ffffff;
}

.App1 {
  position: fixed;
  width: 100%;
  z-index: 12;
  background: #ffffff;
}

.header-top {
  width: 100%;
  background: pink;
  height: 25%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #e5e5e5;
  background: #ffffff;
}

a {
  text-decoration: none !important;
}

.content-left a {
  color: #2d2d2d;
}

.content-left svg {
  font-size: 24px;
  color: #2d2d2d;
}

.infoheader {
  padding: 15px 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e5e5;
  font-weight: 499;
}

.iconheader {
  display: flex;
  grid-gap: 15px;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.logo-header {
  width: 115px;
}

/* .infoheader img {
    height: 45%;
  } */

.iconheader svg {
  font-size: 24px;
  color: #2d2d2d;
  cursor: pointer;
}

.iconheader input {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.infoheader span {
  text-transform: uppercase;
  color: #2d2d2d;
  cursor: pointer;
}

.content-right {
  color: #ffffff;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.account-user {
  overflow: hidden;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.a {
  color: #2aa0f5 !important;
}

.itemmannager {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}
.itemmannager div {
  background-color: #e5e5e5;
}

.itemmannager div:hover {
  background: #2aa0f5;
}
.content-right:hover .itemmannager {
  display: block;
}

.itemmannager:hover{

  display: block;
}
