.wrapper-header {

  width: 100%;
  background: red;
  height: 100px;
  background: #FFFFFF;
}

.App1 {

  position: fixed;
  width: 100%;
  z-index: 12;
  background: #ffffff;
}

.header-top {

  width: 100%;
  background: pink;
  height: 25%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #E5E5E5;
  background: #FFFFFF;
}

a {

  text-decoration: none !important;
}

.content-left a {

  color: #2d2d2d;
}

.content-left svg {

  font-size: 24px;
  color: #2d2d2d;
}

.infoheader {
  padding: 15px 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E5E5E5;

}

.iconheader {
  display: flex;
  grid-gap: 15px;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.logo-header {

  width: 115px;
}

/* .infoheader img {
    height: 45%;
  } */

.iconheader svg {

  font-size: 24px;
  color: #2d2d2d;
  cursor: pointer;
}

.iconheader input {
  border: 1px solid #E5E5E5;
  border-radius: 3px;
}

.infoheader span {
  text-transform: uppercase;
  color: #2d2d2d;
  cursor: pointer;
}

.content-right {

  color: #FFFFFF;
  gap: 10px;

}

.account-user {
  overflow: hidden;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.a {

  color: #2AA0F5 !important;
}